<div class="container-contact100">
  <div class="wrap-contact100">
    <form #paraderoForm="ngForm" (ngSubmit)="onSubmit(paraderoForm)" class="contact100-form validate-form">
      <span class="contact100-form-title">
        Registro Paradero
      </span>

      <div class="wrap-input100 input100-select bg1">
        <span class="label-input100">LINEA DE TRANSPORTE *</span>
        <div>
          <select class="js-select2" name="lineasec" [(ngModel)]="lineaSeleccionada"
            (ngModelChange)="onSelectedChange($event)">
            <option *ngFor="let linea of lineas" [value]="linea.Id">{{linea.Nombre}}</option>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
      </div>

      <div class="wrap-input100 validate-input bg1" data-validate="Por favor ingrese el nombre del paradero">
        <span class="label-input100">NOMBRE DEL PARADERO *</span>
        <input class="input100" type="text" name="nombre" #nombre="ngModel"
          [(ngModel)]="paraderoSer.selectedParadero.nombre" placeholder="Ingresa el nombre del paradero">
      </div>

      <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Ingrese la latitud">
        <span class="label-input100">LATITUD *</span>
        <input class="input100" type="number" name="latitud" #latitud="ngModel"
          [(ngModel)]="paraderoSer.selectedParadero.latitud" placeholder="Ingresa la latitud del paradero">
      </div>

      <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Ingrese la longitud">
        <span class="label-input100">LONGITUD *</span>
        <input class="input100" type="number" name="longitud" #longitud="ngModel"
          [(ngModel)]="paraderoSer.selectedParadero.longitud" placeholder="Ingresa la longitud del paradero">
      </div>



      <!--======Seleccion de la linea del transporte previamente seleccionado===================================-->
      <!--este nuevo select aparecera de acuerdo a la linea de trasnporte que seleccionno, por ejemplo
      cuando se seleccione la opcion Metropolitanno, este select debera contener solo lineas del
      metropolitano -->
      <div class="wrap-input100 input100-select bg1" [ngSwitch]="lineaSeleccionada" *ngIf="lineaSeleccionada!=1">

        <ng-container *ngSwitchCase="2">
          <span class="label-input100">LINEA DEL CORREDOR *</span>
          <div>
            <select class="js-select2" name="service" [(ngModel)]="rutadelinea"  (ngModelChange)="onSelectedChangeRutaLinea($event)">
              <option *ngFor="let corredor of corredores" [value]="corredor.Id">{{corredor.Nombre}}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="3">
          <span class="label-input100">LINEA DE METROPOLITANO *</span>
          <div>
            <select class="js-select2" name="service" [(ngModel)]="rutadelinea" (ngModelChange)="onSelectedChangeRutaLinea($event)">
              <option *ngFor="let metropolitano of metropolitanos" [value]="metropolitano.Id">{{metropolitano.Nombre}}
              </option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="4" >
          <span class="label-input100">LINEA DEL METRO *</span>
          <div>
            <select class="js-select2" name="service" [(ngModel)]="rutadelinea" (ngModelChange)="onSelectedChangeRutaLinea($event)">
              <option *ngFor="let tren of trenes" [value]="tren.Id">{{tren.Nombre}}</option>
             
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault >
          
        </ng-container>

      </div>
      <!--===============================================================================================-->


      <!--======Seleccion ruta de ida o vuelta=========================================================-->
      <div class="wrap-contact100-form-radio" *ngIf="lineaSeleccionada!=1 && lineaSeleccionada!=4">
        <div class="contact100-form-radio m-t-15">
          <input class="input-radio100" id="radio1" type="radio" name="type-product" value="ida"
            [(ngModel)]="rdbtnselec" (ngModelChange)="onSelectedChangeRdbtn($event)">
          <label class="label-radio100" for="radio1">
            Ruta de ida
          </label>
        </div>

        <div class="contact100-form-radio m-t-15">
          <input class="input-radio100" id="radio2" type="radio" name="type-product" value="vuelta"
            [(ngModel)]="rdbtnselec" (ngModelChange)="onSelectedChangeRdbtn($event)">
          <label class="label-radio100" for="radio2">
            Ruta de vuelta
          </label>
        </div>
      </div>
      <!--===============================================================================================-->


      <!--======Boton registrar===========================================================================-->
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" type=submit>
          <span>
            Registrar
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <!--===============================================================================================-->


      <!--========Tabla del listado de paraderos, segun linea seleccionada==================================-->

      <!--si esta seleccionada la opcion "Selecciona linea de transporte", no aparecera nada-->
      <div class="w-full dis-none " *ngIf="rutadelinea === 1 && lineaSeleccionada ==1 else mostrartabla">

      </div>

      <!--si esta seleccionada cualquier opcion a excepcion de "Selecciona linea de transporte", 
      se muestra la tabla-->
      <ng-template #mostrartabla>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Paradero</th>
              <th scope="col">Latitud</th>
              <th scope="col">Longitud</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paradero of paraderoList">
              <td>{{paradero.nombre}}</td>
              <td>{{paradero.latitud}}</td>
              <td>{{paradero.longitud}}</td>
              <td>
                <a class="btn btn-secondary text-white">
                <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-secondary text-white">
                    <i class="fa fa-trash"></i>
                    </a>
              </td>
            </tr>

          </tbody>
        </table>
      </ng-template>

      <!--===============================================================================================-->








    </form>
  </div>
</div>